.profile
  .profile_main-photo
  .profile_main-details
    .profile_username
      = profile.username
    .profile_tagline
      = profile.tagline
  .profile_details
    = profile.gender
    = profile.age
    = profile.ethnicity
  .profile_location
    = profile.city
    = profile.state