.profile.row
  .profile_main.twelve.columns
    .profile_main-photos.six.columns
      .row
        .twelve.columns
          .profile_photos-primary
            = link_to image_tag(profile.photos.where(:is_primary => 'true').first.filename.url), photo_path(profile.photos.where(:is_primary => 'true').first.id) if profile.photos.present?
      .row
        .twelve.columns
          .profile_photos-thumbs
            = render :partial => 'photos/photo-thumbs', :collection => profile.photos.where(:is_primary => nil), :as => :photo
    .profile_main-details.six.columns
      .row
        .twelve.columns
          .profile_username
            = profile.username
      .row
        .twelve.columns
          .profile_tagline
            = profile.tagline
      .row
        .twelve.columns
          .profile_detail_row
            %span(class="profile_linehead") Interested in:
            = profile.age
      .row
        .twelve.columns
          .profile_detail_row
            %span(class="profile_linehead") Gender:
            = profile.gender.titlecase
      .row
        .twelve.columns
          .profile_detail_row
            %span(class="profile_linehead") Age:
            = profile.age
      .row
        .twelve.columns
          .profile_detail_row
            %span(class="profile_linehead") Ethnicity:
            = profile.ethnicity.titlecase
      .row
        .twelve.columns
          .profile_detail_row
            %span(class="profile_linehead") Location:
            = profile.city
            = profile.state
      .row
        .twelve.columns
          .profile_detail_row
            %span(class="profile_linehead") About:
            = profile.description