.results_item
  .results_main-photo
  .results_main-details
    .results_username
      = link_to result.username, userprofile_path(result)
    .results_tagline
      = result.tagline
  .results_details
    = result.gender
    = result.age
    = result.ethnicity
  .results_location
    = result.city
    = result.state