<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Datestr" %></title>

	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>

	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top-bar"></div>
	<div id="container">
		<div class="twelve columns" id="logo-login">
			<div id="logo" class="three columns">date<span id="str">str</span></div>
			<div class="upper-bar nine columns">
				<% if @auth && @auth.username != nil %>
						<span id="greeting"><%= "Welcome, #{@auth.username}" %></span>
			      <%= link_to("Logout", logout_path) %>
			  <% else %>
				    <%= link_to("Login", login_path)%>
			      <%= link_to("Register", register_path) %>
			      <%= link_to("About", about_path) %>
			  <% end %>
			</div>

			<% if @auth != nil %>
				<nav class="twelve columns">
						<ul class="nav-bar">

		      		<li class="has-flyout"><%= link_to("Profile", profile_path) %>
		      			<a href="#" class="flyout-toggle"><span> </span></a>
		      			<ul class="flyout">
		      				<li><%= link_to("Edit Profile", profile_edit_path) %></li>
		      			</ul>
		      		</li><!-- .has-flyout -->

		      		<li class="has-flyout"><%= link_to("Photos", photos_path) %>
		      			<a href="#" class="flyout-toggle"><span> </span></a>
			      			<ul class="flyout">
			      				<li><%= link_to("Add Photo", photos_new_path) %></li>
			      			</ul>
		      		</li><!-- .has-flyout -->

				      <li class="has-flyout"><%= link_to("Questions", questions_path) %>
		      			<a href="#" class="flyout-toggle"><span> </span></a>
			      			<ul class="flyout">
			      				<li><%= link_to("Add Question", questions_new_path) %></li>
			      			</ul>
		      		</li><!-- .has-flyout -->

				      <li><%= link_to("Messages", messages_path) %></li>
				      <li><%= link_to("Browse", browse_path) %></li>
				    </ul>
					</nav>
			  <% end  %>
			<div class="clear"></div>

	  	<%= yield %>

	</div><!-- .twelve.columns -->
	</div><!-- #container -->
</body>
</html>