<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Datestr" %></title>

	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>

	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top-bar"></div>
	<div id="container">
		<header>
			<div class="row">
				<div class="twelve columns">
					<div class="four columns">
						<div id="logo">date<span id="str">str</span></div>
					</div><!-- .four.columns -->
					<div class="eight columns">
						<div class="row">
							<div class="seven columns"></div><!-- .seven.columns -->
							<div class="five columns" id="active_account">
								<% if @auth && @auth.username != nil %>
										<span id="greeting"><%= "Welcome, #{@auth.username}" %></span>
							      <%= link_to("Logout", logout_path) %>
							  <% end %>
							</div><!-- .five.columns -->
						</div><!-- .row #active_account -->
						<nav class="row">
								<%= show_dynamic_links %>
							</nav>
						</div><!-- .row -->
					</div><!-- .eight.columns -->
			</div><!-- .row -->
		</header>

			<div id="main">
	  		<%= yield %>
	  	</div><!-- #main -->
	</div><!-- #container -->
</body>
</html>